body {
    height: 100%;
    width: 100%;
}

.IndexPage {
    height: 500px;
    width: 1000px;
    margin: 50px auto;
    border: 1px solid #ddd;
    outline: none;

    &__row {
        height: 18px;
        line-height: 18px;
    }

    &__letter {
        display: inline-block;
        min-width: 3px;
            height: 18px;
        line-height: 18px;
        vertical-align: top;

        &--is-cursor {
            background: #777;
            color: white;
        }
    }
}
